.grd {
  padding-left: 1rem;
  padding-right: 1rem;
}

.grd-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.grd-row-col-1-12 {
  max-width: 8.3333333333%;
  flex-basis: 8.3333333333%;
}

.grd-row-col-2-12 {
  max-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}

.grd-row-col-3-12 {
  max-width: 25%;
  flex-basis: 25%;
}

.grd-row-col-4-12 {
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}

.grd-row-col-5-12 {
  max-width: 41.6666666667%;
  flex-basis: 41.6666666667%;
}

.grd-row-col-6-12 {
  max-width: 50%;
  flex-basis: 50%;
}

.grd-row-col-7-12 {
  max-width: 58.3333333333%;
  flex-basis: 58.3333333333%;
}

.grd-row-col-8-12 {
  max-width: 66.6666666667%;
  flex-basis: 66.6666666667%;
}

.grd-row-col-9-12 {
  max-width: 75%;
  flex-basis: 75%;
}

.grd-row-col-10-12 {
  max-width: 83.3333333333%;
  flex-basis: 83.3333333333%;
}

.grd-row-col-11-12 {
  max-width: 91.6666666667%;
  flex-basis: 91.6666666667%;
}

.grd-row-col-12 {
  max-width: 100%;
  flex-basis: 100%;
}

.grd-row-col-1-12,.grd-row-col-1-12--sm,.grd-row-col-1-12--md,.grd-row-col-1-12--lg,.grd-row-col-2-12,.grd-row-col-2-12--sm,.grd-row-col-2-12--md,.grd-row-col-2-12--lg,.grd-row-col-3-12,.grd-row-col-3-12--sm,.grd-row-col-3-12--md,.grd-row-col-3-12--lg,.grd-row-col-4-12,.grd-row-col-4-12--sm,.grd-row-col-4-12--md,.grd-row-col-4-12--lg,.grd-row-col-5-12,.grd-row-col-5-12--sm,.grd-row-col-5-12--md,.grd-row-col-5-12--lg,.grd-row-col-6-12,.grd-row-col-6-12--sm,.grd-row-col-6-12--md,.grd-row-col-6-12--lg,.grd-row-col-7-12,.grd-row-col-7-12--sm,.grd-row-col-7-12--md,.grd-row-col-7-12--lg,.grd-row-col-8-12,.grd-row-col-8-12--sm,.grd-row-col-8-12--md,.grd-row-col-8-12--lg,.grd-row-col-9-12,.grd-row-col-9-12--sm,.grd-row-col-9-12--md,.grd-row-col-9-12--lg,.grd-row-col-10-12,.grd-row-col-10-12--sm,.grd-row-col-10-12--md,.grd-row-col-10-12--lg,.grd-row-col-11-12,.grd-row-col-11-12--sm,.grd-row-col-11-12--md,.grd-row-col-11-12--lg,.grd-row-col-12,.grd-row-col-12--sm,.grd-row-col-12--md,.grd-row-col-12--lg {
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
}

.grd-row-col-1-12--sm,.grd-row-col-1-12--md,.grd-row-col-1-12--lg,.grd-row-col-2-12--sm,.grd-row-col-2-12--md,.grd-row-col-2-12--lg,.grd-row-col-3-12--sm,.grd-row-col-3-12--md,.grd-row-col-3-12--lg,.grd-row-col-4-12--sm,.grd-row-col-4-12--md,.grd-row-col-4-12--lg,.grd-row-col-5-12--sm,.grd-row-col-5-12--md,.grd-row-col-5-12--lg,.grd-row-col-6-12--sm,.grd-row-col-6-12--md,.grd-row-col-6-12--lg,.grd-row-col-7-12--sm,.grd-row-col-7-12--md,.grd-row-col-7-12--lg,.grd-row-col-8-12--sm,.grd-row-col-8-12--md,.grd-row-col-8-12--lg,.grd-row-col-9-12--sm,.grd-row-col-9-12--md,.grd-row-col-9-12--lg,.grd-row-col-10-12--sm,.grd-row-col-10-12--md,.grd-row-col-10-12--lg,.grd-row-col-11-12--sm,.grd-row-col-11-12--md,.grd-row-col-11-12--lg,.grd-row-col-12--sm,.grd-row-col-12--md,.grd-row-col-12--lg {
  max-width: 100%;
  flex-basis: 100%;
}

@media screen and (min-width: $viewport-m) {
  .grd-row-col-1-12--sm {
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }

  .grd-row-col-2-12--sm {
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }

  .grd-row-col-3-12--sm {
    max-width: 25%;
    flex-basis: 25%;
  }

  .grd-row-col-4-12--sm {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .grd-row-col-5-12--sm {
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }

  .grd-row-col-6-12--sm {
    max-width: 50%;
    flex-basis: 50%;
  }

  .grd-row-col-7-12--sm {
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }

  .grd-row-col-8-12--sm {
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .grd-row-col-9-12--sm {
    max-width: 75%;
    flex-basis: 75%;
  }

  .grd-row-col-10-12--sm {
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }

  .grd-row-col-11-12--sm {
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }

  .grd-row-col-12--sm {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (min-width: $viewport-l) {
  .grd-row-col-1-12--md {
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }

  .grd-row-col-2-12--md {
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }

  .grd-row-col-3-12--md {
    max-width: 25%;
    flex-basis: 25%;
  }

  .grd-row-col-4-12--md {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .grd-row-col-5-12--md {
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }

  .grd-row-col-6-12--md {
    max-width: 50%;
    flex-basis: 50%;
  }

  .grd-row-col-7-12--md {
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }

  .grd-row-col-8-12--md {
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .grd-row-col-9-12--md {
    max-width: 75%;
    flex-basis: 75%;
  }

  .grd-row-col-10-12--md {
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }

  .grd-row-col-11-12--md {
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }

  .grd-row-col-12--md {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (min-width: $viewport-xl) {
  .grd-row-col-1-12--lg {
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }

  .grd-row-col-2-12--lg {
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }

  .grd-row-col-3-12--lg {
    max-width: 25%;
    flex-basis: 25%;
  }

  .grd-row-col-4-12--lg {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .grd-row-col-5-12--lg {
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }

  .grd-row-col-6-12--lg {
    max-width: 50%;
    flex-basis: 50%;
  }

  .grd-row-col-7-12--lg {
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }

  .grd-row-col-8-12--lg {
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .grd-row-col-9-12--lg {
    max-width: 75%;
    flex-basis: 75%;
  }

  .grd-row-col-10-12--lg {
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }

  .grd-row-col-11-12--lg {
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }

  .grd-row-col-12--lg {
    max-width: 100%;
    flex-basis: 100%;
  }
}
