.grd {
  padding-left: 1rem;
  padding-right: 1rem;
}

.grd-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.grd-row-col-1-24 {
  max-width: 4.1666666667%;
  flex-basis: 4.1666666667%;
}

.grd-row-col-2-24 {
  max-width: 8.3333333333%;
  flex-basis: 8.3333333333%;
}

.grd-row-col-3-24 {
  max-width: 12.5000000000%;
  flex-basis: 12.5000000000%;
}

.grd-row-col-4-24 {
  max-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}

.grd-row-col-5-24 {
  max-width: 20.8333333333%;
  flex-basis: 20.8333333333%;
}

.grd-row-col-6-24 {
  max-width: 25%;
  flex-basis: 25%;
}

.grd-row-col-7-24 {
  max-width: 29.1666666667%;
  flex-basis: 29.1666666667%;
}

.grd-row-col-8-24 {
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}

.grd-row-col-9-24 {
  max-width: 37.5000000000%;
  flex-basis: 37.5000000000%;
}

.grd-row-col-10-24 {
  max-width: 41.6666666667%;
  flex-basis: 41.6666666667%;
}

.grd-row-col-11-24 {
  max-width: 45.8333333333%;
  flex-basis: 45.8333333333%;
}

.grd-row-col-12-24 {
  max-width: 50%;
  flex-basis: 50%;
}

.grd-row-col-13-24 {
  max-width: 54.1666666667%;
  flex-basis: 54.1666666667%;
}

.grd-row-col-14-24 {
  max-width: 58.3333333333%;
  flex-basis: 58.3333333333%;
}

.grd-row-col-15-24 {
  max-width: 62.5000000000%;
  flex-basis: 62.5000000000%;
}

.grd-row-col-16-24 {
  max-width: 66.6666666667%;
  flex-basis: 66.6666666667%;
}

.grd-row-col-17-24 {
  max-width: 70.8333333333%;
  flex-basis: 70.8333333333%;
}

.grd-row-col-18-24 {
  max-width: 75%;
  flex-basis: 75%;
}

.grd-row-col-19-24 {
  max-width: 79.1666666667%;
  flex-basis: 79.1666666667%;
}

.grd-row-col-20-24 {
  max-width: 83.3333333333%;
  flex-basis: 83.3333333333%;
}

.grd-row-col-21-24 {
  max-width: 87.5000000000%;
  flex-basis: 87.5000000000%;
}

.grd-row-col-22-24 {
  max-width: 91.6666666667%;
  flex-basis: 91.6666666667%;
}

.grd-row-col-23-24 {
  max-width: 95.8333333333%;
  flex-basis: 95.8333333333%;
}

.grd-row-col-24 {
  max-width: 100%;
  flex-basis: 100%;
}

.grd-row-col-1-24,.grd-row-col-1-24--sm,.grd-row-col-1-24--md,.grd-row-col-1-24--lg,.grd-row-col-2-24,.grd-row-col-2-24--sm,.grd-row-col-2-24--md,.grd-row-col-2-24--lg,.grd-row-col-3-24,.grd-row-col-3-24--sm,.grd-row-col-3-24--md,.grd-row-col-3-24--lg,.grd-row-col-4-24,.grd-row-col-4-24--sm,.grd-row-col-4-24--md,.grd-row-col-4-24--lg,.grd-row-col-5-24,.grd-row-col-5-24--sm,.grd-row-col-5-24--md,.grd-row-col-5-24--lg,.grd-row-col-6-24,.grd-row-col-6-24--sm,.grd-row-col-6-24--md,.grd-row-col-6-24--lg,.grd-row-col-7-24,.grd-row-col-7-24--sm,.grd-row-col-7-24--md,.grd-row-col-7-24--lg,.grd-row-col-8-24,.grd-row-col-8-24--sm,.grd-row-col-8-24--md,.grd-row-col-8-24--lg,.grd-row-col-9-24,.grd-row-col-9-24--sm,.grd-row-col-9-24--md,.grd-row-col-9-24--lg,.grd-row-col-10-24,.grd-row-col-10-24--sm,.grd-row-col-10-24--md,.grd-row-col-10-24--lg,.grd-row-col-11-24,.grd-row-col-11-24--sm,.grd-row-col-11-24--md,.grd-row-col-11-24--lg,.grd-row-col-12-24,.grd-row-col-12-24--sm,.grd-row-col-12-24--md,.grd-row-col-12-24--lg,.grd-row-col-13-24,.grd-row-col-13-24--sm,.grd-row-col-13-24--md,.grd-row-col-13-24--lg,.grd-row-col-14-24,.grd-row-col-14-24--sm,.grd-row-col-14-24--md,.grd-row-col-14-24--lg,.grd-row-col-15-24,.grd-row-col-15-24--sm,.grd-row-col-15-24--md,.grd-row-col-15-24--lg,.grd-row-col-16-24,.grd-row-col-16-24--sm,.grd-row-col-16-24--md,.grd-row-col-16-24--lg,.grd-row-col-17-24,.grd-row-col-17-24--sm,.grd-row-col-17-24--md,.grd-row-col-17-24--lg,.grd-row-col-18-24,.grd-row-col-18-24--sm,.grd-row-col-18-24--md,.grd-row-col-18-24--lg,.grd-row-col-19-24,.grd-row-col-19-24--sm,.grd-row-col-19-24--md,.grd-row-col-19-24--lg,.grd-row-col-20-24,.grd-row-col-20-24--sm,.grd-row-col-20-24--md,.grd-row-col-20-24--lg,.grd-row-col-21-24,.grd-row-col-21-24--sm,.grd-row-col-21-24--md,.grd-row-col-21-24--lg,.grd-row-col-22-24,.grd-row-col-22-24--sm,.grd-row-col-22-24--md,.grd-row-col-22-24--lg,.grd-row-col-23-24,.grd-row-col-23-24--sm,.grd-row-col-23-24--md,.grd-row-col-23-24--lg,.grd-row-col-24,.grd-row-col-24--sm,.grd-row-col-24--md,.grd-row-col-24--lg {
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
}

.grd-row-col-1-24--sm,.grd-row-col-1-24--md,.grd-row-col-1-24--lg,.grd-row-col-2-24--sm,.grd-row-col-2-24--md,.grd-row-col-2-24--lg,.grd-row-col-3-24--sm,.grd-row-col-3-24--md,.grd-row-col-3-24--lg,.grd-row-col-4-24--sm,.grd-row-col-4-24--md,.grd-row-col-4-24--lg,.grd-row-col-5-24--sm,.grd-row-col-5-24--md,.grd-row-col-5-24--lg,.grd-row-col-6-24--sm,.grd-row-col-6-24--md,.grd-row-col-6-24--lg,.grd-row-col-7-24--sm,.grd-row-col-7-24--md,.grd-row-col-7-24--lg,.grd-row-col-8-24--sm,.grd-row-col-8-24--md,.grd-row-col-8-24--lg,.grd-row-col-9-24--sm,.grd-row-col-9-24--md,.grd-row-col-9-24--lg,.grd-row-col-10-24--sm,.grd-row-col-10-24--md,.grd-row-col-10-24--lg,.grd-row-col-11-24--sm,.grd-row-col-11-24--md,.grd-row-col-11-24--lg,.grd-row-col-12-24--sm,.grd-row-col-12-24--md,.grd-row-col-12-24--lg,.grd-row-col-13-24--sm,.grd-row-col-13-24--md,.grd-row-col-13-24--lg,.grd-row-col-14-24--sm,.grd-row-col-14-24--md,.grd-row-col-14-24--lg,.grd-row-col-15-24--sm,.grd-row-col-15-24--md,.grd-row-col-15-24--lg,.grd-row-col-16-24--sm,.grd-row-col-16-24--md,.grd-row-col-16-24--lg,.grd-row-col-17-24--sm,.grd-row-col-17-24--md,.grd-row-col-17-24--lg,.grd-row-col-18-24--sm,.grd-row-col-18-24--md,.grd-row-col-18-24--lg,.grd-row-col-19-24--sm,.grd-row-col-19-24--md,.grd-row-col-19-24--lg,.grd-row-col-20-24--sm,.grd-row-col-20-24--md,.grd-row-col-20-24--lg,.grd-row-col-21-24--sm,.grd-row-col-21-24--md,.grd-row-col-21-24--lg,.grd-row-col-22-24--sm,.grd-row-col-22-24--md,.grd-row-col-22-24--lg,.grd-row-col-23-24--sm,.grd-row-col-23-24--md,.grd-row-col-23-24--lg,.grd-row-col-24--sm,.grd-row-col-24--md,.grd-row-col-24--lg {
  max-width: 100%;
  flex-basis: 100%;
}

.grd-row-col-1-24--no {
  max-width: 4.1666666667%;
  flex-basis: 4.1666666667%;
}

.grd-row-col-2-24--no {
  max-width: 8.3333333333%;
  flex-basis: 8.3333333333%;
}

.grd-row-col-3-24--no {
  max-width: 12.5000000000%;
  flex-basis: 12.5000000000%;
}

.grd-row-col-4-24--no {
  max-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}

.grd-row-col-5-24--no {
  max-width: 20.8333333333%;
  flex-basis: 20.8333333333%;
}

.grd-row-col-6-24--no {
  max-width: 25%;
  flex-basis: 25%;
}

.grd-row-col-7-24--no {
  max-width: 29.1666666667%;
  flex-basis: 29.1666666667%;
}

.grd-row-col-8-24--no {
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}

.grd-row-col-9-24--no {
  max-width: 37.5000000000%;
  flex-basis: 37.5000000000%;
}

.grd-row-col-10-24--no {
  max-width: 41.6666666667%;
  flex-basis: 41.6666666667%;
}

.grd-row-col-11-24--no {
  max-width: 45.8333333333%;
  flex-basis: 45.8333333333%;
}

.grd-row-col-12-24--no {
  max-width: 50%;
  flex-basis: 50%;
}

.grd-row-col-13-24--no {
  max-width: 54.1666666667%;
  flex-basis: 54.1666666667%;
}

.grd-row-col-14-24--no {
  max-width: 58.3333333333%;
  flex-basis: 58.3333333333%;
}

.grd-row-col-15-24--no {
  max-width: 62.5000000000%;
  flex-basis: 62.5000000000%;
}

.grd-row-col-16-24--no {
  max-width: 66.6666666667%;
  flex-basis: 66.6666666667%;
}

.grd-row-col-17-24--no {
  max-width: 70.8333333333%;
  flex-basis: 70.8333333333%;
}

.grd-row-col-18-24--no {
  max-width: 75%;
  flex-basis: 75%;
}

.grd-row-col-19-24--no {
  max-width: 79.1666666667%;
  flex-basis: 79.1666666667%;
}

.grd-row-col-20-24--no {
  max-width: 83.3333333333%;
  flex-basis: 83.3333333333%;
}

.grd-row-col-21-24--no {
  max-width: 87.5000000000%;
  flex-basis: 87.5000000000%;
}

.grd-row-col-22-24--no {
  max-width: 91.6666666667%;
  flex-basis: 91.6666666667%;
}

.grd-row-col-23-24--no {
  max-width: 95.8333333333%;
  flex-basis: 95.8333333333%;
}

.grd-row-col-24--no {
  max-width: 100%;
  flex-basis: 100%;
}

@media screen and (min-width: $viewport-m) {
  .grd-row-col-1-24--sm {
    max-width: 4.1666666667%;
    flex-basis: 4.1666666667%;
  }

  .grd-row-col-2-24--sm {
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }

  .grd-row-col-3-24--sm {
    max-width: 12.5000000000%;
    flex-basis: 12.5000000000%;
  }

  .grd-row-col-4-24--sm {
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }

  .grd-row-col-5-24--sm {
    max-width: 20.8333333333%;
    flex-basis: 20.8333333333%;
  }

  .grd-row-col-6-24--sm {
    max-width: 25%;
    flex-basis: 25%;
  }

  .grd-row-col-7-24--sm {
    max-width: 29.1666666667%;
    flex-basis: 29.1666666667%;
  }

  .grd-row-col-8-24--sm {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .grd-row-col-9-24--sm {
    max-width: 37.5000000000%;
    flex-basis: 37.5000000000%;
  }

  .grd-row-col-10-24--sm {
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }

  .grd-row-col-11-24--sm {
    max-width: 45.8333333333%;
    flex-basis: 45.8333333333%;
  }

  .grd-row-col-12-24--sm {
    max-width: 50%;
    flex-basis: 50%;
  }

  .grd-row-col-13-24--sm {
    max-width: 54.1666666667%;
    flex-basis: 54.1666666667%;
  }

  .grd-row-col-14-24--sm {
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }

  .grd-row-col-15-24--sm {
    max-width: 62.5000000000%;
    flex-basis: 62.5000000000%;
  }

  .grd-row-col-16-24--sm {
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .grd-row-col-17-24--sm {
    max-width: 70.8333333333%;
    flex-basis: 70.8333333333%;
  }

  .grd-row-col-18-24--sm {
    max-width: 75%;
    flex-basis: 75%;
  }

  .grd-row-col-19-24--sm {
    max-width: 79.1666666667%;
    flex-basis: 79.1666666667%;
  }

  .grd-row-col-20-24--sm {
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }

  .grd-row-col-21-24--sm {
    max-width: 87.5000000000%;
    flex-basis: 87.5000000000%;
  }

  .grd-row-col-22-24--sm {
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }

  .grd-row-col-23-24--sm {
    max-width: 95.8333333333%;
    flex-basis: 95.8333333333%;
  }

  .grd-row-col-24--sm {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (min-width: $viewport-l) {
  .grd-row-col-1-24--md {
    max-width: 4.1666666667%;
    flex-basis: 4.1666666667%;
  }

  .grd-row-col-2-24--md {
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }

  .grd-row-col-3-24--md {
    max-width: 12.5000000000%;
    flex-basis: 12.5000000000%;
  }

  .grd-row-col-4-24--md {
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }

  .grd-row-col-5-24--md {
    max-width: 20.8333333333%;
    flex-basis: 20.8333333333%;
  }

  .grd-row-col-6-24--md {
    max-width: 25%;
    flex-basis: 25%;
  }

  .grd-row-col-7-24--md {
    max-width: 29.1666666667%;
    flex-basis: 29.1666666667%;
  }

  .grd-row-col-8-24--md {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .grd-row-col-9-24--md {
    max-width: 37.5000000000%;
    flex-basis: 37.5000000000%;
  }

  .grd-row-col-10-24--md {
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }

  .grd-row-col-11-24--md {
    max-width: 45.8333333333%;
    flex-basis: 45.8333333333%;
  }

  .grd-row-col-12-24--md {
    max-width: 50%;
    flex-basis: 50%;
  }

  .grd-row-col-13-24--md {
    max-width: 54.1666666667%;
    flex-basis: 54.1666666667%;
  }

  .grd-row-col-14-24--md {
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }

  .grd-row-col-15-24--md {
    max-width: 62.5000000000%;
    flex-basis: 62.5000000000%;
  }

  .grd-row-col-16-24--md {
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .grd-row-col-17-24--md {
    max-width: 70.8333333333%;
    flex-basis: 70.8333333333%;
  }

  .grd-row-col-18-24--md {
    max-width: 75%;
    flex-basis: 75%;
  }

  .grd-row-col-19-24--md {
    max-width: 79.1666666667%;
    flex-basis: 79.1666666667%;
  }

  .grd-row-col-20-24--md {
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }

  .grd-row-col-21-24--md {
    max-width: 87.5000000000%;
    flex-basis: 87.5000000000%;
  }

  .grd-row-col-22-24--md {
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }

  .grd-row-col-23-24--md {
    max-width: 95.8333333333%;
    flex-basis: 95.8333333333%;
  }

  .grd-row-col-24--md {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (min-width: $viewport-xl) {
  .grd-row-col-1-24--lg {
    max-width: 4.1666666667%;
    flex-basis: 4.1666666667%;
  }

  .grd-row-col-2-24--lg {
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }

  .grd-row-col-3-24--lg {
    max-width: 12.5000000000%;
    flex-basis: 12.5000000000%;
  }

  .grd-row-col-4-24--lg {
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }

  .grd-row-col-5-24--lg {
    max-width: 20.8333333333%;
    flex-basis: 20.8333333333%;
  }

  .grd-row-col-6-24--lg {
    max-width: 25%;
    flex-basis: 25%;
  }

  .grd-row-col-7-24--lg {
    max-width: 29.1666666667%;
    flex-basis: 29.1666666667%;
  }

  .grd-row-col-8-24--lg {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }

  .grd-row-col-9-24--lg {
    max-width: 37.5000000000%;
    flex-basis: 37.5000000000%;
  }

  .grd-row-col-10-24--lg {
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }

  .grd-row-col-11-24--lg {
    max-width: 45.8333333333%;
    flex-basis: 45.8333333333%;
  }

  .grd-row-col-12-24--lg {
    max-width: 50%;
    flex-basis: 50%;
  }

  .grd-row-col-13-24--lg {
    max-width: 54.1666666667%;
    flex-basis: 54.1666666667%;
  }

  .grd-row-col-14-24--lg {
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }

  .grd-row-col-15-24--lg {
    max-width: 62.5000000000%;
    flex-basis: 62.5000000000%;
  }

  .grd-row-col-16-24--lg {
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }

  .grd-row-col-17-24--lg {
    max-width: 70.8333333333%;
    flex-basis: 70.8333333333%;
  }

  .grd-row-col-18-24--lg {
    max-width: 75%;
    flex-basis: 75%;
  }

  .grd-row-col-19-24--lg {
    max-width: 79.1666666667%;
    flex-basis: 79.1666666667%;
  }

  .grd-row-col-20-24--lg {
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }

  .grd-row-col-21-24--lg {
    max-width: 87.5000000000%;
    flex-basis: 87.5000000000%;
  }

  .grd-row-col-22-24--lg {
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }

  .grd-row-col-23-24--lg {
    max-width: 95.8333333333%;
    flex-basis: 95.8333333333%;
  }

  .grd-row-col-24--lg {
    max-width: 100%;
    flex-basis: 100%;
  }
}
